.movie-page {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 9rem auto;
    color: #f5f5dc;
}

.movie-page svg {
    font-size: 1.5rem;
    color: #ffff00;
}

.movie-page .movie-card {
    text-align: center;
}

.movie-page .movie-card img {
    width: 70%;
}

.movie-page .movie-card h2 {
    font-size: 2rem;
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
    margin-bottom: 1rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.description p {
    line-height: 1.4rem;
}

