@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}

body {
    background-color: #250a0b;
    color: #f5f5dc;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
